*{
  font-family: 'Readex Pro', sans-serif;
}

.toolbars-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.drawingPlace{
  display:flex;
  margin:15px;
}

.toolbar{
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-top: 1%;
}

.toolbar a{
float: left;
color: #8b8888;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}


.toolbar a:hover {
  color: #2b2b2b;
}

.toolbar a.active {
  color: #2b2b2b;
}

.toolbar button{
  cursor:pointer;
    border-radius: 4px;
    color:#8b8888;
    background-color:white;
    border: 1px solid #8b8888;
    transition:.3s;
}

.colorPicker{
  border:1px solid white;
}

.bootun{
  cursor:pointer;
  border-radius: 4px;
  color:#8b8888;
  background-color:white;
  border: 1px solid #8b8888;
  transition:.3s;
}

.toolbar button:hover{
  color:white;
  border: 1px solid rgb(236, 41, 41);
  background-color:rgb(236, 41, 41);
}

.bootun:hover{
  color:white;
  background-color:black;
}

@media screen and (max-height: 450px) {
  .toolbar {padding-top: 15px;}
  .toolbar a {font-size: 18px;}
}

.output{
  font-size: 20px;
  padding:10px;
  margin-top:-9px;
  color: #2b2b2b;

}

.pointSize{
  padding-top: 5px;
}

/*  PROFILE SPECIFIC CSS  */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color:#818181;
}

.closebtn:hover{
  color:black;
}

.profile-content{
  margin:10%;
  margin-top:25%;
}

.profile-info {
  display: block;
  width: 100%;
  overflow: hidden;
  border:1px solid #818181;
  border-radius:4px;
  padding:1px 6px;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  font-size:20px;
  color:black;
}

.profile-info[contenteditable]:empty::before {
  content: "Your Bio Here";
  font-size:20px;
  color: gray;
}

.profile-legend{
  margin-bottom:0;
  color:black;
}
