<!DOCTYPE html>
<html>

<head>
  <title>Welcome Page</title>

</head>

<body>
  <p>Welcome! Select a option!</p>

  <form action="/path" method="POST" enctype="application/x-www-form-urlencoded">

    <button>Sign-Up</button>
  </form>

  <form action="/path" method="GET" >

    <button >Login</button>
    <!-- <a href="login.html"><button> Login </button></a> -->
  </form>
    <!-- <script>
      function myfunction() {
        console.log("This is a working button");
      }

      
    </script> -->

</body>

</html>