<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Community Board</title>

  <link href="templates/static/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet"> 


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
  <script src="templates/static/welcomePage.js"></script>
</head>

<body class="login-body">
  <div class="home-grid">
    <div class="home-login-title">
      <header class="login-header">
        <h1>Community <br> Board</h1>
      </header>
    </div>
    <div>
      <div class="merge-forms">
        <form class="login-form" action="/login">
          <!-- <form class="login-form" action="/path" method="POST" enctype="application/x-www-form-urlencoded"> -->
            <fieldset>
            <div class="login-legend">Login</div>
            <label class="label">Username</label>
            <input class="username-input input" name="username" id="username">
            <label class="label">Password</label>
            <input type="password" name="pass" class="pass-input input">
            <div class="grid-login-signup">
              <div class="login-grid-1 login-button">
                <button type="submit" formmethod="POST">Log in</button>

              </div>
            </div>

            <div class="error"></div>
          </fieldset>
        </form>

        <form class="signup-button-fix" action="/path" method="GET">
          <fieldset class="bottom-fieldset-fix">
            <div class="signup-button" >
             <p class="no-account">No account?<p><button type="submit" formmethod = "PUT" >Sign Up</button>
            </div>
            
          </fieldset>
        </form>
        </div>
    </div>
  </div>

 
</body>

</html>
