<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whiteboard</title>

    <link href="static/whiteboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script>

</head>
<body>
    
        <div id="drawingToolbar" class="toolbar">
            <a ><i class="ri-pencil-line ri-2x"></i></a>
            <a ><i class="ri-eraser-line ri-2x"></i></a>
            <a ><input class="colorPicker" id = "colorPicker" type="color" value="#ff0000"></a>
            <a ><input class="pointSize" id = "pointSize" type="range" min="2" max="50" value="30" ></a>
            <div class="output">30</div>
            <a ><input type="button" value = "Clear All" class="clear"></a>
        </div>
        <div class="drawingPlace">
            <canvas class="canvas" id = "canvas"></canvas>
        </div>

        <script type="text/javascript" src="templates/static/canvas.js"></script>
</body>

<!-- <script type="text/javascript" src="templates/static/drawing.js"></script> -->




</html>

