<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whiteboard</title>

    <link href="templates/static/whiteboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet"> 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>-->
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        //var socket = io();
        //var socket = io.connect('http://127.0.0.1:5000/login');
        //socket.on('connect', function() {
        //    socket.emit('User has connected!');
        //});
    </script>

</head>
<body>

        <div id="drawingToolbar" class="toolbar">
            <a ><i type ="button" class="ri-pencil-line ri-2x" id="pencil"></i></a>
            <a ><i type ="button" class="ri-eraser-line ri-2x" id="eraser"></i></a>
            <a ><input class="colorPicker" id = "colorPicker" type="color" value="#ff0000"></a>
            <a ><input class="pointSize" id = "pointSize" type="range" min="2" max="50" value="10" ></a>
           <a><div class="output">10</div></a> 
           <a><input type="button" value = "Clear All" class="clear bootun"></a> 
           <a><input type="button" value = "Download" class ="download bootun" download="image.png" href=""></a>
           <a><form class="login-form" action="/logout">
            <button class="login-button" type="submit" formmethod="POST">Logout</button>
            </form></a>
            

            <form class="login-form" action="/logout">
                <!-- <fieldset> -->
                    <a><button class="login-button" type="submit" formmethod="POST">Logout</button></a>
                <!-- </fieldset> -->
            </form>
            <a><div id = "totalUsers"></div></a>

        </div>


        <div class="drawingPlace">
            <canvas class="canvas" id = "canvas"></canvas>
        </div>

        <script type="text/javascript" src="templates/static/canvas.js"></script>
</body>

<!-- <script type="text/javascript" src="templates/static/drawing.js"></script> -->




</html>

